* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  display: flex;
}
.left-image {
  flex: 0.4;
  height: 100vh;
  background-color: teal;
}
.main-container {
  flex: 0.6;
  height: 100vh;
  display: grid;
  place-items: center;
}
.login-container {
  border: 1px solid black;
  max-width: 60%;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
}
.login-container__header {
  margin-top: -50px;
}

